In [70]:
#импорт библиотек
import datetime #работа со времеными типами
import pandas as pd #работа с датасетом

In [71]:
df = pd.read_csv('shmya_final_version.csv', sep=',') # выгрузка данных из csv в pd
df_more2 = df.loc[df["cutlery"] > 2] #датасет с заказами, где кол-во приборов больше 2
df_less2 = df.loc[df["cutlery"] <= 2] #датасет с заказами, где кол-во приборов меньше или равно 2

In [61]:
#Больше 2ух приборов
print("Средняя сумма чаевых",round(df_more2["tips"].sum() / df_more2["tips"].count(), 1))

Средняя сумма чаевых 66.2

In [62]:
#Меньше 2ух приборов
print("Средняя сумма чаевых",round(df_less2["tips"].sum() / df_less2["tips"].count(), 1))

Средняя сумма чаевых 51.6

In [63]:
df_more2["date"] = pd.to_datetime(df_more2['date'], format='%Y-%m-%d %H:%M:%S') #фоматирование данных из str в datetime

<ipython-input-63-a699581ffbe2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_more2["date"] = pd.to_datetime(df_more2['date'], format='%Y-%m-%d %H:%M:%S')

Timestamp('2022-01-17 06:38:43')

In [64]:
#датасет с заказами, где где кол-во приборов больше 2 и рабочие дни
df_workday = df_more2.loc[df_more2["date"] >= pd.to_datetime(datetime.date(2022, 1, 10))] 

#датасет с заказами, где где кол-во приборов больше 2 + рабочие дни + сумма заказа больше 800
df_work = df_workday.loc[df_workday["order_price"] > 800]

In [65]:
#данные рабочего датасета
df_work

                     date  cutlery  tips  order_price     uid  order_id
0     2022-01-17 06:38:43        3   100         1001  120967  73041443
18    2022-01-26 13:48:12        3   150         1097  255228  33800999
23    2022-01-26 13:22:38        4   140         1161  781632  56865155
46    2022-01-14 11:48:06        3    80         1009  638996  88412506
52    2022-01-31 17:21:48        3   110          861  686259  39708422
...                   ...      ...   ...          ...     ...       ...
26027 2022-01-25 04:18:43        3    80          841  739019  85117758
26033 2022-01-14 07:05:08        3    90          985  540487  87039706
26034 2022-01-19 15:07:15        3   160         1202  117066  95916480
26038 2022-01-23 09:11:45        4   140          892  958020  31282164
26043 2022-01-31 18:36:03        4    20          942  908699  78733530

[3387 rows x 6 columns]

In [66]:
#список uid пользователей, только уникальные 
pd.unique(df_work["uid"])

array([120967, 255228, 781632, ..., 207178, 739019, 908699], dtype=int64)

In [69]:
#количество уникальных пользователей
len(pd.unique(df_work["uid"]))

2541